.container {
  background-color: pink;
}

.col-6.container.debug > div {
  background-color: #F07F80;
  border: 1px solid white;

}



body .col-6.container.debug {
  padding: 5px;
}





.col-6.container.debug > div > div {
  border: 1px solid white;
}

[class*="col-"] {
  text-align: center;
  line-height: 200px;
}
